<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dheeraj.snhu_dheeraj_kollapaneni">

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS"/>

    <!-- Declare telephony feature but mark it as not required -->
    <uses-feature android:name="android.hardware.telephony" android:required="false" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/dj"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/dj"
        android:supportsRtl="true"
        android:theme="@style/Theme.SNHU_Dheeraj_Kollapaneni"
        tools:targetApi="30"
        tools:ignore="ObsoleteSdkInt">

        <!-- Main Activity (Login Screen) -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Event List Activity -->
        <activity
            android:name=".EventListActivity"
            android:exported="true" />

        <!-- SMS Permission Activity -->
        <activity
            android:name=".SmsPermissionActivity"
            android:exported="true" />



        <activity android:name=".MainActivity" android:exported="true" />
        <activity android:name=".SignUpActivity" android:exported="true" />
        <activity android:name=".AddEditEventActivity" android:exported="true" />

    </application>

</manifest>
